
h4 {
  text-align: center;
}

.Method {
  color: black;
  font: size 20px;
}

.Display {
  color: #0f0f0f;
}

.ul3 {
  list-style: decimal; 
  width:400px; 
  margin:0 auto;
  height:650px; 
  overflow-y: auto;
}
.ul3 li {
  list-style: decimal; 
  text-align: center; 
  /* text-indent:0.5em; */
  margin-bottom:10px;
}
.Display-img {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .Display-img {
    width: 130px;
    height: 100px;
    vertical-align: middle;
    position: 'absolute';
  }
}

@media (max-width: 767px) {
  #echart-ch{height:450px}
  #echart-EG{height:450px}
}
@media (min-width: 767px) {
  #echart-ch{height:650px}
  #echart-EG{height:650px}
}

/* #echart-ch{height:650px} */
/* #echart-EG{height:650px} */
.echart {
  /* width: '100%'; */
  /* margin: '10px auto 0'; */
  height: '700px'
}

.left_des,
.right_des{
  width: 200px;
  background-color:aliceblue;
  font-size: large;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

/* .show {
  height: 100px;
  width: 100px;
} */

